%h1 All Games

%table#games
	%thead
		%tr
			%th Game Title
			%th ESRB
			%th Release Date
			%th More Info
	%tbody
		-	@games.each do |game|
			%tr
				%td= game.title
				%td= game.esrb
				%td= game.release_date
				%td= link_to "More about #{game.title}", game_path(game)

= link_to 'Add Game', new_game_path